{% extends 'main.html' %} {% block content %}
<div>
   {% if request.user.is_authenticated %}
   <p style="text-align: right;"><a href="{% url 'delete-event' id=id %}">Delete</a></p>
   {% endif %}
   <h1>{{event.name}}</h1>
   <hr />
   <p>{{event.description}}</p>
   <hr />
   <h2 class="tickets-heading">Tickets:</h2>
   {% for ticket in tickets %}
      <div class="ticket-main">
         <div class="ticket-left">
            <p>Name: {{ ticket.name }}</p>
            <p>Type: {{ ticket.ticket_type }}</p>
            <p>Price: &#x20a6;{{ ticket.price }}</p>
            <p>Remaining tickets: {{ ticket.quantity_available }}</p>
            {% if ticket.quantity_available > 0 %}
               <a type="button" class="purchase-button" href="/payment/ticket/{{ ticket.id }}/purchase/">Purchase</a>
            {% else %}
               <p>Sold Out</p>
            {% endif %}
         </div>
         <div class="ticket-right" style="background-image:url('{{event.img.url}}');">
            {% comment %} <img src="{% url 'event.img.url' %}" /> {% endcomment %}
         </div>
      </div>
      <hr />
   {% empty %}
      <p>No tickets available for this event.</p>
   {% endfor %}
</div>
{% endblock %}
