{% extends 'main.html' %} {% block content %} 
{% load static %}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="inner-container mb-3 py-3">
  <h2 class=" upcoming-event" >UPCOMING EVENTS</h2>
  <div class="row ">
    <div class="col-md-9">
      <p>
        Prepare to immerse yourself in a world of excitement and wonder as we bring
        together the finest artists, innovators, and visionaries from around the
        globe. From captivating performances to thought-provoking talks, this event
        will be a celebration of creativity, inspiration, and human connection
      </p>
    </div>
    <div class="col-md-3">
      <button class="rounded-pill py-2 px-2 see-upcoming-event" >
        SEE ALL UPCOMING EVENTS
      </button>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <div class="row all-event-con">
      {% for event in events %}
      <div class="col-xs-12 col-md-4 event-container" id="event" style="background-image:url('{{event.img.url}}');">
        <div class="start-date">
          <h2>{{event.start}}</h2>
        </div>
        <div class="description">
          <h3><a href="get_event/{{ event.id }}/">{{event.name}}</a></h3>
          <p>{{event.location}}</p>
          <button class="buy" >
            <a href="get_event/{{ event.id }}/">
            Get Ticket
            </a>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="category mt-5 py-3">
  <div class="by-category mb-3">
    <h2 class=" upcoming-event" >EVENTS BY CATEGORIES</h2>
  </div>
  <div class="row list-categories">
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/concert.png' %}');"><a href="#">CONCERTS</a></div>
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/community.png' %}');"><a href="#">COMMUNITIES</a></div>
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/classes.png' %}');"><a href="#">CLASSES</a></div>
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/party.png' %}');"><a href="#">PARTIES</a></div>
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/theater.png' %}');"><a href="#">THEATERS</a></div>
    <div class="col-xs-12 col-md-4 col-sm-4 my-3 mx-3 category-item" style="background-image: url('{% static 'images/sport.png' %}');"><a href="#">SPORTS</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    
  </div>
</div>
{% endblock %}
