{% extends 'main.html' %} {% block content %}
{% load static %}

  <div class="login-container">
    <h2 class="log-in-heade">Login</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <div class="form-divider">
      <p>Don't have an account? <a href="{% url 'register' %}" class="register-link">Create account</a></p>
    </div>
  </div>
  {% for message in messages %}
    <p style="text-align:center; color: red"> {{message}} </p>
  {% endfor %}

{% endblock %}
