{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style/login.css' %}">
</head>
<body>
  <div class="login-container">
    <h2 class="log-in-heade">Login</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
  {% for message in messages %}
    <p style="text-align:center; color: red"> {{message}} </p>
  {% endfor %}
</body>
</html>
