{% extends 'main.html' %} {% block content %} 
{% load static %}

<div class="inner-container mb-3">
    <div class="form-group mb-5">
        <input type="text" class="form-control" id="search-event" placeholder="Search event" />
    </div>
    <div class="main-createButton">
        <div class="text-part">
            <h2 class=" upcoming-event" >MY EVENTS</h2>
        </div>
        <div class="button-part">
            <button><a href="{% url 'create-event' %}">Create event</a></button>
        </div>
    </div>
  <div class="col-md-12 mt-5">
    <div class="row events-all-event-con">
      {% for event in events %}
      <div class="col-xs-12 col-md-6 event-container" id="event" style="background-image:url('{{event.img.url}}');">
        <div class="start-date">
          <h2>{{event.start}}</h2>
        </div>
        <div class="description">
          <h3><a href="{% url 'getEvent' id=event.id %}">{{event.name}}</a></h3>
          <p>{{event.location}}</p>
          <button class="buy" >
            <a href="{% url 'updateEvent' id=event.id %}">
            Edit event
            </a>
          </button>
          <button class="buy" >
            <a href="{% url 'viewEventTickets' id=event.id %}">
            View Tickets
            </a>
          </button>
        </div>
      </div>
      {% empty %}
      <h4>No Event created.</h4>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
