{% extends 'main.html' %} {% block content %} {% load static %}
<div class="main-payment">
<div class="make-payment mb-3">Make payment</div>
<div class="payment-details mb-3 pl-2">
  <h4>Title: {{event}}</h4>
  <h4>Ticket: <b>{{ticket.name}}</b></h4>
  <h4>Amount: <b> &#x20a6;{{amount}}</b></h4>
</div>
<form method="POST" action="{% url 'make_payment' id=ticket.event_id.id %}">
  {% csrf_token %}
  <div class="form-group"></div>
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      name="email"
      value=""
      placeholder="Email"
      required
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="phoneNo"
      id="phone"
      placeholder="Phone Number"
      required
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="Number"
      name="quantity"
      id="qtty"
      placeholder="Quantity"
      required
    />
  </div>
  <input type="hidden" name="tx_ref" value="{{tx_ref}}" />
  <input type="hidden" name="amount" value="{{amount}}" />
  <input type="hidden" name="currency" value="NGN" />
  <input type="hidden" name="meta[token]" value="54" />
  <input type="hidden" name="ticket_id" value="{{ticket.id}}" />

  <div class="form-group">
    <button type="submit" class="form-control" id="submitButton">Pay Now</button>
  </div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock content %}
