{% extends 'main.html' %} {% block content %}
<div style="text-align: center;">
   <form action="" method="POST" >
      {%csrf_token%}
      <div class="mb-3">
         <label for="name" class="form-label">Name: <input class="form-control" type="text" placeholder="Event Name" name="name" />
         </label>
      </div>
      <div class="mb-3">
         <label for="description" class="form-label">Description: <textarea class="form-control" name="description" id="description" cols="20" rows="5"></textarea>
      </div>
      <div class="mb-3" class="form-label">
         <label>
            Type:
            <select class="form-control" name="type" id="">
               <option value="Con">Concert</option>
               <option value="Com">Communities</option>
               <option value="Cl">Classes</option>
               <option value="P">Parties</option>
               <option value="S">Sport</option>
            </select>
         </label>
      </div>

      <div class="mb-3">
         <label for="location" class="form-label">Location: 
            <input class="form-control" type="text" name="location" placeholder="Event Name" />
         </label>
      </div>
      <div class="mb-3">
         <label for="" class="form-label">Start: <input class="form-control" type="datetime-local" name="start" id="">
         </label>
      </div>
      <div class="mb-3">
         <label for="" class="form-label">End: <input class="form-control" type="datetime-local" name="end" id="">
         </label>
      </div>
      <button class="form-control"  type="submit">Submit</button>
   </form>
</div>
{% endblock %}