{% extends 'main.html' %} {% block content %}
<div>
   
   <hr />
   <div class="form-group">
      <input type="text" class="form-control" id="search-ticket" placeholder="Search ticket by name" />
   </div>
   <hr />
   <h2 class="tickets-heading">Tickets:</h2>
   <div class="allticket-main" id="ticket-main-content">
    
   </div>
   <div class="allticket-main" id="main-ticket-container">
       {% for ticket in tickets %}
          <div class="col-xs-12 col-md-6 col-sm-12 inside-allticket pt-2">
             <div class="allticket-left">
                <p>Name: {{ ticket.name }}</p>
                <p>Type: {{ ticket.ticket_type }}</p>
                <p>Price: &#x20a6;{{ ticket.price }}</p>
                <p>Remaining tickets: {{ ticket.quantity_available }}</p>
                {% if ticket.quantity_available > 0 %}
                   <a type="button" class="purchase-button" href="/payment/ticket/{{ ticket.id }}/purchase/">Purchase</a>
                {% else %}
                   <p>Sold Out</p>
                {% endif %}
             </div>
             <div class="allticket-right" style="background-image:url('{{ticket.event_id.img.url}}');">
             </div>
          </div>
       {% empty %}
          <p>No tickets available for this event.</p>
       {% endfor %}
   </div>
</div>
{% endblock %}
