asgiref==3.7.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
Django==4.2.1
idna==3.4
mysqlclient==2.1.1
Pillow==9.5.0
pypng==0.20220715.0
qrcode==7.4.2
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
